.SearchBar {
  width: 80vw;
  max-width: 400px;
  padding: 18px 24px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.1;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 1px rgb(0 0 0/20%);
}

